{
  "agents": {
    "defaults": {
      "workspace": "/root/.clawdbot/workspace",
      "model": {
        "primary": "openrouter/z-ai/glm-4.5-air:free"
      },
      "models": {
	    "openrouter/openrouter/auto": { "alias": "auto" },
        "openrouter/openrouter/free": { "alias": "freerouter" },
		"gpt-5.2": { "alias": "gpt-5.2" },
        "gpt-4.5-preview": { "alias": "gpt-4.5" },
		"openrouter/deepseek/deepseek-chat-v3-0324": { "alias": "deep" },
		"openrouter/z-ai/glm-4.7": { alias: "glm-4.7" };
		"openrouter/z-ai/glm-4.5-air:free": { "alias": "glm-4.5" },
		"openrouter/openai/gpt-5.2": { "alias": "openrouter-gpt-5.2" }
      }
    }
  },
  "gateway": {
    "port": 18789,
    "mode": "local"
  }
}
# 007
